.tovar_tabl {
    display: flex;


    gap: 50px;
}

.blk {
    display: flex;
    align-items: flex-start;
    padding-bottom: 58px;


}

.tovar {
    display: flex;
    gap: 119px;
}

.td {

    padding-left: 25px;
    padding-top: 10px;
    font-size: 14px;
}

.tert {
    margin-left: 35px;
    cursor: pointer;

    /* padding: ; */
    border: #D5621D;
    background: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #D5621D;
    transition: 0.3s;
}

.tert:hover {
    background-color: #D5621D;
    transition: .3s;
}

.buy {
    color: #D5621D;
    padding-bottom: 9px;

}

.offset1 {
    margin-left: 8.333%;
}